{
  "semi": false,
  "singleQuote": false,
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "none",
  "vueIndentScriptAndStyle": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./app/assets/css/main.css",
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": false,
  "embeddedLanguageFormatting": "off"
}
