@import "tailwindcss";
@theme {
  --variant-dark: selector(.dark);
}
@layer base {
  :root {
    --footed: oklch(0.9 0 0);
    --bg: oklch(1 0 0);
    --elevated: oklch(0.94 0 0);
    --text: oklch(0 0 0);
    --danger: oklch(62.793% 0.25768 29.223);
    --border-color: oklch(0.82 0.015 260);
    --accent: oklch(0.7 0.15 232);
  }
  html,
  body {
    @apply h-full overflow-x-hidden overflow-y-auto bg-(--bg) text-(--text);
  }
  html.light {
    color-scheme: light;
  }
  html.dark {
    color-scheme: dark;
  }
  html.dark {
    --footed: oklch(0.1 0 0);
    --bg: oklch(0.25 0 0);
    --elevated: oklch(0.3 0 0);
    --text: oklch(1 0 0);
    --border-color: oklch(0.42 0.02 260);
    --accent: oklch(51.574% 0.10595 232.556);
  }
  *,
  ::before,
  ::after {
    border-color: var(--border-color);
  }
  button:focus-visible,
  a:focus-visible,
  input:focus-visible,
  textarea:focus-visible {
    outline: 1px solid var(--accent);
    background-color: var(--elevated);
  }
  button {
    display: block;
  }
}
