@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  :root {
    --bg: oklch(0.98 0.01 260);
    --text: oklch(0.2 0.02 260);
    --accent: oklch(0.6 0.15 260);
    --elevated: oklch(0.92 0.01 260);
    --border-color: oklch(0.85 0.01 260);
    --toggle-off-bg: oklch(0.85 0.02 260);
    --toggle-thumb: oklch(1 0 0);
    --danger: oklch(62.793% 0.25768 29.223);
    --mantis: oklch(71.704% 0.15273 141.885);
    --tooltip-bg: oklch(21% 0.006 285.885);
  }
  html,
  body {
    @apply h-full overflow-x-hidden overflow-y-auto bg-(--bg) text-(--text);
  }
  html.light {
    color-scheme: light;
  }
  html.dark {
    color-scheme: dark;
  }
  html.dark {
    --bg: oklch(0.18 0.02 260);
    --text: oklch(0.92 0.01 260);
    --accent: oklch(0.7 0.16 260);
    --elevated: oklch(0.26 0.02 260);
    --border-color: oklch(0.34 0.02 260);
    --toggle-off-bg: oklch(0.32 0.02 260);
    --toggle-thumb: oklch(0.98 0.01 260);
  }
  *,
  ::before,
  ::after {
    @apply border-(--border-color) outline-(--accent);
  }
}
@layer components {
  .ui-focus {
    @apply focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-(--accent);
  }
  .ui-focus-manual,
  .peer:focus + .ui-focus-peer,
  .peer:focus ~ .ui-focus-peer {
    @apply outline-2 outline-offset-2 outline-(--accent);
  }
}
