NUXT_API_INTERNAL_URL="http://127.0.0.1:3001"
API_INTERNAL_URL="http://127.0.0.1:3001/api"
NUXT_PUBLIC_API_URL="http://127.0.0.1:3000/api"
NUXT_PUBLIC_BASE_URL="http://127.0.0.1:3000"
NUXT_PUBLIC_MEDIA_IMAGE_MAX_BYTES=8388608
NITRO_HOST="127.0.0.1"
NITRO_PORT=3000
